body {
    background-color: rgba(20, 48, 90, 0.952);
    color: rgb(213 157 54);
    font-family: 'Lucida Grande';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h2{
    font-size: 3em;
}